
/Models/*
/logs/*
/Images
/Data/Heart/Raw
/Data/Heart/Segmented
/Data/Heart/Test
/Data/C_Elegans
/Scripts/old/
/notebooks/


!/Models/Heart_full/
!/logs/Heart_full/

!/Models/Heart_limited/
!/logs/Heart_limited/

/Results/Heart_full/Images/
